* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.photos > ul > li > img {
  width: 200px;
  height: 200px;
}